html, body {
  background-color: rgb(64, 82, 124);
}
#map {
  height: 500px;
  width: 75%;
  float: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 1%;
  border-style: outset;
}

#maininput {
  text-align: center;
}

#secondaryheader {
  text-align: center;
  color: rgb(189, 197, 213);
}

#mainheader {
  text-align: center;
  text-shadow: 1px 1px 2px black;
  color: rgb(189, 197, 213);
}
#mainfooter {
  text-align: center;
}

#mainparagraph {
  text-align: center;
  color: rgb(189, 197, 213);
}

#todoList {
  text-align:center;
  width: 80%;
  float: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  background-color: rgb(246,246,246);
}
/*p {
  margin-top: 1%;
  margin-left: 32%;
  text-align: left;
  color: rgb(189, 197, 213);
}*/
